<!DOCTYPE html>
<html>
<head>
  <title>Report Lost Item</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>Report a Lost Item</h1>
  <form action="/add-item" method="POST">
  <input name="name" placeholder="Item Name" required />
  <textarea name="description" placeholder="Description" required></textarea>
  <input name="location" placeholder="Last Seen Location" required />
  <input name="contact" placeholder="Your Contact Info" required />
  <input type="hidden" name="status" value="lost" />
  <button type="submit">Submit</button>
</form>

  <a href="/user_dashboard">Back to Home</a>
</body>
</html>
